body {
    overflow: hidden;
}
.border {
    background-color: rgb(231, 229, 229);
    border-radius: 8px;
    padding: 8px 15px;
    margin: 37px 350px;
    height: 544px;
    float: right;
}
.head {
    text-align: center;
    margin: 10px;
    padding: 5px;
    height: 186px;
}
.abc {
    position: relative;
    top: 39px;
}
input {
    border-radius: 5px;
}
::placeholder {
    font-size: 22px;
}
.adresse {
    text-align: center;
}
.a {
    padding: 16px;
    margin: 12px;
    width: 480px;
}
.li {
    text-align: center;
    justify-content: space-around;
    left: 30px;
}
.n {
    margin: 40px;
}
li {
    display: inline;
}
.env {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: 25px;
    margin: 20px;
    top: 100px;

}
.s {
    position: absolute;
}
.f {
    position: relative;
    display: inline;
    top: 70px;
}
.g {
    position: relative;
    display: inline;
    top: 100px;
    font-size: 20px;
}
.submit {
    background-color: blue;
    color: cornsilk;
    width: 120px;
}
.b {
    margin: 10px;
    font-size: x-large;
}
.gn {
    margin: 10px;
}
img {
    width: 90px;
    height: 35px;
}
.n:hover {
    text-decoration: underline;
}